/Apps/Practicum/Build/Tests/bin/Debug/Autofac.dll
/Apps/Practicum/Build/Tests/bin/Debug/Autofac.xml
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.UnitTests.dll
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.UnitTests.pdb
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.exe
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.pdb
/Apps/Practicum/Build/Tests/bin/Release/Autofac.dll
/Apps/Practicum/Build/Tests/bin/Release/Autofac.xml
/Apps/Practicum/Build/Tests/bin/Release/Practicum.UnitTests.dll
/Apps/Practicum/Build/Tests/bin/Release/Practicum.UnitTests.pdb
/Apps/Practicum/Build/Tests/bin/Release/Practicum.exe
/Apps/Practicum/Build/Tests/bin/Release/Practicum.pdb
/Apps/Practicum/Build/Tests/mstestresults.xml
/Apps/Practicum/Build/bin/Debug/Autofac.dll
/Apps/Practicum/Build/bin/Debug/Autofac.xml
/Apps/Practicum/Build/bin/Debug/Practicum.exe
/Apps/Practicum/Build/bin/Debug/Practicum.exe.config
/Apps/Practicum/Build/bin/Debug/Practicum.pdb
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.Tests.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.Tests.csprojResolveAssemblyReference.cache
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.UnitTests.dll
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.UnitTests.pdb
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.Tests.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.Tests.csprojResolveAssemblyReference.cache
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.UnitTests.dll
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.UnitTests.pdb
/Apps/Practicum/Src/bin/Release/Autofac.dll
/Apps/Practicum/Src/bin/Release/Autofac.xml
/Apps/Practicum/Src/bin/Release/Practicum.exe
/Apps/Practicum/Src/bin/Release/Practicum.exe.config
/Apps/Practicum/Src/bin/Release/Practicum.pdb
/Apps/Practicum/Src/obj/Debug/Practicum.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/obj/Debug/Practicum.csprojResolveAssemblyReference.cache
/Apps/Practicum/Src/obj/Debug/Practicum.exe
/Apps/Practicum/Src/obj/Debug/Practicum.pdb
/Apps/Practicum/Src/obj/Release/Practicum.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/obj/Release/Practicum.exe
/Apps/Practicum/Src/obj/Release/Practicum.pdb
