/Apps/Practicum/Build/Tests/bin/Debug/Autofac.dll
/Apps/Practicum/Build/Tests/bin/Debug/Autofac.xml
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.UnitTests.dll
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.UnitTests.pdb
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.exe
/Apps/Practicum/Build/Tests/bin/Debug/Practicum.pdb
/Apps/Practicum/Build/Tests/bin/Release/Autofac.dll
/Apps/Practicum/Build/Tests/bin/Release/Autofac.xml
/Apps/Practicum/Build/Tests/bin/Release/Practicum.UnitTests.dll
/Apps/Practicum/Build/Tests/bin/Release/Practicum.UnitTests.pdb
/Apps/Practicum/Build/Tests/bin/Release/Practicum.exe
/Apps/Practicum/Build/Tests/bin/Release/Practicum.pdb
/Apps/Practicum/Build/Tests/mstestresults.xml
/Apps/Practicum/Build/bin/Debug/Autofac.dll
/Apps/Practicum/Build/bin/Debug/Autofac.xml
/Apps/Practicum/Build/bin/Debug/Practicum.exe
/Apps/Practicum/Build/bin/Debug/Practicum.exe.config
/Apps/Practicum/Build/bin/Debug/Practicum.pdb
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.Tests.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.Tests.csprojResolveAssemblyReference.cache
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.UnitTests.dll
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/Practicum.UnitTests.pdb
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.Tests.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.Tests.csprojResolveAssemblyReference.cache
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.UnitTests.dll
/Apps/Practicum/Src/Practicum.Tests/obj/Release/Practicum.UnitTests.pdb
/Apps/Practicum/Src/bin/Release/Autofac.dll
/Apps/Practicum/Src/bin/Release/Autofac.xml
/Apps/Practicum/Src/bin/Release/Practicum.exe
/Apps/Practicum/Src/bin/Release/Practicum.exe.config
/Apps/Practicum/Src/bin/Release/Practicum.pdb
/Apps/Practicum/Src/obj/Debug/Practicum.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/obj/Debug/Practicum.csprojResolveAssemblyReference.cache
/Apps/Practicum/Src/obj/Debug/Practicum.exe
/Apps/Practicum/Src/obj/Debug/Practicum.pdb
/Apps/Practicum/Src/obj/Release/Practicum.csproj.FileListAbsolute.txt
/Apps/Practicum/Src/obj/Release/Practicum.exe
/Apps/Practicum/Src/obj/Release/Practicum.pdb
/Apps/Practicum/Build/bin/Debug/Practicum.vshost.exe
/Apps/Practicum/Build/bin/Debug/Practicum.vshost.exe.config
/Apps/Practicum/Build/bin/Debug/Practicum.vshost.exe.manifest
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Apps/Practicum/Src/Practicum.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Apps/Practicum/Src/Practicum.sln.DotSettings.user
/Apps/Practicum/Src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Apps/Practicum/Src/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Apps/Practicum/Src/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Apps/Practicum/Src/obj/Debug
/Apps/Practicum/Src/Practicum.v12.suo
/Apps/Practicum/Src/obj/Release/Practicum.csprojResolveAssemblyReference.cache
