<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ScannerFullyQualifiedTypeName" value="Practicum.Components.Scanner, Practicum.Components"/>
  <add key="ParserFullyQualifiedTypeName" value="Practicum.Components.Parser, Practicum.Components"/>
  <add key="ValidatorFullyQualifiedTypeName" value="Practicum.Components.Validator, Practicum.Components"/>
  <add key="OutputWriterFullyQualifiedTypeName" value="Practicum.Components.OutputWriter, Practicum.Components"/>
</appSettings>